.mainTitle {
  color: var(--ifm-font-color-base);
  font-family: 'Red Hat Mono';
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -17.28px;
  text-transform: lowercase;
  mix-blend-mode: difference;
}

.features {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 6rem 0;
  gap: 4rem;
  width: 100%;
  position: relative;
  z-index: 1;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  scroll-snap-stop: always;
  height: calc(100% - calc(var(--ifm-navbar-height) + var(--ifm-navbar-padding-vertical) * 2));
}
.featuresContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin: auto;
  min-width: 500px;
  width: 85%;
  max-width: 100%;
  overflow-x: hidden;
  max-height: calc(100% - calc(var(--ifm-navbar-height) + var(--ifm-navbar-padding-vertical) * 2));
}
.featureDesc {
  flex: 1 1 26%;
}
.transparentCodeBlock {
  --prism-background-color: #16161cfe !important;
  backdrop-filter: blur(6px);
}

.cubeCanvas {
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
  user-select: none;
  border: 1px solid red;
  position: relative;
  top: 0;
  z-index: -1;
}

.windowsCode {
  --prism-background-color: #15182d36 !important;
  background-image: linear-gradient(71deg, var(--prism-background-color), #1a171c, var(--prism-background-color));
  backdrop-filter: blur(6px);
  transition: 500ms;
  margin: 0 66px;
}
.windowsCode::before,
.windowsCode::after {
  content: '';
  position: absolute;
  border-radius: 0px;
}

/* shadow */
.windowsCode::after {
  inset: -1px;
  opacity: 0.1;
  user-select: none;
  pointer-events: none;
  /* z-index: -1; */
  border-radius: var(--ifm-code-border-radius);
  transform: translatez(-50px);
  background-image: url('/img/noise.png');
  margin-bottom: 19px;
}

/* gradient thingy */
.windowsCode::before {
  z-index: -2;
  inset: -10px;
  background: linear-gradient(-45deg, #00ff14, #00f1ff, #c600ff, #004fff);
  transform: translatez(-50px);
  margin-bottom: 20px;
  transition: 300ms;
  border-radius: 5px;
  opacity: 0.1;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

.windowsCodeHeader {
  width: 100%;
  position: absolute;
  top: 0;
}
.windowsCodeHeaderDotContainer {
  display: inline-flex;
  gap: 8px;
  padding: 10px;
}
.windowsCodeHeaderDot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  --dot-bgcolor: #e0e0e061;
  background-color: var(--dot-bgcolor);
}
.windowsCodeHeaderDot:nth-of-type(1) {
  --dot-bgcolor: #e05e58;
}
.windowsCodeHeaderDot:nth-of-type(2) {
  --dot-bgcolor: #efbc40;
}
.windowsCodeHeaderDot:nth-of-type(3) {
  --dot-bgcolor: #75c74d;
}
